version: "3.9"
services:
  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app_2
    ports:
      - "5540:5432"
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "./wait-for-it.sh $DB_HOST:$DB_PORT -- python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8050"

  db:
    image: postgres:14
    container_name: postgres_db_060525
    env_file:
      - .env
    ports:
      - "5440:5432"  # локален порт
    volumes:
      - pgdata:/var/lib/postgresql/data/

volumes:
  pgdata:
