version: "3.9"

services:
  db:
    image: postgres:14
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5440:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    networks:
      - app_net

  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app
    env_file:
      - .env
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
    ports:
      - "8050:8050"
    networks:
      - app_net

volumes:
  pgdata:

networks:
  app_net:
    driver: bridge
