version: "3.9"

services:
  db:
    image: postgres:14
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5440:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/

  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app_2
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8050:8050"
    command: >
      sh -c "python -c 'import time, psycopg2, os;
while True:
    try:
        psycopg2.connect(host=os.environ.get(\"DB_HOST\",\"db\"), 
                         port=int(os.environ.get(\"DB_PORT\",5432)), 
                         database=os.environ.get(\"DB_NAME\",\"postgres\"), 
                         user=os.environ.get(\"DB_USER\",\"postgres\"), 
                         password=os.environ.get(\"DB_PASSWORD\",\"postgres\"))
        break
    except Exception as e:
        print(\"DB not ready, retrying...\")
        time.sleep(3)'
      && python manage.py migrate
      && python manage.py runserver 0.0.0.0:8050"
volumes:
  pgdata:
