{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Събития</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/events.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
</head>
<body>
{% include 'common/navbar.html' %}

<div class="video-background">
    <video autoplay loop muted playsinline>
        <source src="https://videos.pexels.com/video-files/2836030/2836030-uhd_2560_1440_24fps.mp4" type="video/mp4">
        Вашият браузър не поддържа видеа.
    </video>
</div>


<div class="row justify-content-center" style="margin-top: 200px; margin-inline: 50px">
    {% if object_list %}
        {% for event in object_list %}
        <div class="col-md-4 mb-4">
            <div class="event-card">
                <img src="{{ event.image }}" alt="{{ event.title }}" class="event-image">
                <div class="event-content">
                    <h5 class="event-title">{{ event.title }}</h5>
                    <p class="event-description">{{ event.description|truncatewords:6 }}</p>
                    <a href="{% url 'event-details' event.id %}" class="btn btn-secondary btn-sm">Виж повече</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-center">Няма налични събития.</p>
    {% endif %}
</div>



<div class="pagination-container text-center mt-4">
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предишна</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следваща</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>

{% include 'common/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-9ndCyUa3Y6oz8z2oO3uo0Q8v0xHfp3yJGz6/sb8Pj93g5fNQ9T5u7vV/jXkgJmNf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
