<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/home.css">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    <img src="{{ open_video }}" alt="" class="open-video">
    
    <main>
        <article>
            <div class="personal-info">
                <img src="{{ picture_path }}" alt="profile.pic">
                <section>
                    <h1>{{ title }}</h1>
                    <br>
                    <p>
                    {% for text in description %}
                        {{ text }}<br>
                    {% endfor %}
                    </p>
                </section>
            </div>
        </article>    
    
        <article>
            <div class="company-info">
                <div class="box">
                    <img src="{{ gif_path }}" alt="">
                </div>
                <section>
                    <h1>{{ adv_title }}</h1>
                    <p>
                        {% for text in adv_description %}
                            {{ text }}<br>
                        {% endfor %}
                    </p>
                </section>
            </div>
        </article>
    </main>    

</body>
</html>