<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/home.css">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    <main>
        <article>
            <div class="left-side">
                <img src="{{ gif_path }}" alt="">
                <h1>{{ adv_title }}</h1>
                <p>
                    {% for text in adv_description %}
                        {{ text }}<br>
                    {% endfor %}
                </p>
            </div>
        
            <div class="right-side">
                <img src="{{ picture_path }}" alt="profile.pic">
                    <h1>{{ title }}</h1>
                <p>
                {% for text in description %}
                    {{ text }}<br>
                {% endfor %}
                </p>
            </div>
        </article>    
    </main>    

</body>
</html>