
<link rel="stylesheet" href="/static/styles/navbar.css">

<header>
        <div class="logo">
            <img src="/static/images/foros_invest.png" alt="logo-pic">
        </div>
        <nav class="nav-menu">
            <ul class="web-nav">
                <li><a href="{% url 'home' %}">Начало</a></li>
                <li><a href="#">Консултация</a></li>
                <li><a href="#">Инвестирай с мен</a></li>
                <li><a href="#">Проекти</a></li>
                <li><a href="#">Събития</a></li>
                <li><a href="{% url 'contacts' %}">Контакти</a></li>
            </ul>

            <ul class="drop-down-menu">
                <img src="/static/images/menu-button.png" alt="menu-button">
                    <ul>
                        <li><a href="#">Начало</a></li>
                        <li><a href="#">Консултация</a></li>
                        <li><a href="#">Инвестирай с мен</a></li>
                        <li><a href="#">Проекти</a></li>
                        <li><a href="#">Събития</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
            </ul>
        </nav>
</header>
