body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

#terms-container {
    margin-top: 100px !important;
}

.card {
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.card-title {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.card-text {
    margin-bottom: 20px;
    color: #555;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
